files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFYDCCBEigAwIBAgISA1/7eQbAJzLSmJiFpHihF4SFMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODEyMTgwMTQ2NTBaFw0x
      OTAzMTgwMTQ2NTBaMB8xHTAbBgNVBAMTFGFwaS50ZWxlY2xhd2FwaS5saXZlMIIB
      IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtwdw6FhSW+KrAnaqpNDMZgb6
      suHg6jBTe0K3QMv1ffVRSUJiQHWuCR+0Dm1bQivpRfzKBqII+Vm6aUc7uFlo8e3Z
      +aaMXzxSEMj4vEu7kPgql/swolVRRXXMx4Zl3iv7FFeyBjhIjg95NWm00DAB0sEq
      YTO772R27I8nTei5NbZ/umKtjFLk871Eov2hnc6VEpJx7LIe9S68aBzsInqHvb2L
      syTIFf2l8R2l95SgfpB7eKthFDMd8fVqLF395VBaKdIv6h7/G6DlpMnk1khgQcC5
      /MDiCi+T+EfOxmsXf7iX9enUQLF+0jqPXN+n6XBPnqdOIU10HYx8zvM3bHV5LQID
      AQABo4ICaTCCAmUwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
      BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTemaoOjmf+sZHBHBS3
      /7EfF1PVMzAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEF
      BQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5j
      cnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5j
      cnlwdC5vcmcvMB8GA1UdEQQYMBaCFGFwaS50ZWxlY2xhd2FwaS5saXZlMEwGA1Ud
      IARFMEMwCAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYBBQUHAgEWGmh0
      dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIIBBAYKKwYBBAHWeQIEAgSB9QSB8gDw
      AHUAdH7agzGtMxCRIZzOJU9CcMK//V5CIAjGNzV55hB7zFYAAAFnvzV0kgAABAMA
      RjBEAiACknUdUU8/bwO9KcPjqF09UkISRxlU+970NV49204gPgIgOfJ513Np6HBA
      jt/14wlOZ9i4/koxznYpXaoSuejdQtkAdwApPFGWVMg5ZbqqUPxYB9S3b79Yeily
      3KTDDPTlRUf0eAAAAWe/NXZmAAAEAwBIMEYCIQCiJyDRpEWUUYHvs825IkWS/K+L
      ciIjghy5FLBDajm1EgIhAL6X+KG3DZBqzZMfvxDe9IOlwtpmunoQjd0mkRG0CW0X
      MA0GCSqGSIb3DQEBCwUAA4IBAQA+W5aHqTE04eLs6whUxMWhdN+/j78FckPridh+
      LrEPfDT3bN+FHVsevHvRZmAZ9rBpOfRc+UCY+IVtIZaY42UJKljT9bf1fv4lkk3a
      X1rWZs848oah6l/q5F9jWcFQWYBaoSv7xafxfm9mGj5flolXne8+mrbDLrQoGkLw
      OCEr/W0opmeJoaM0v+0vpHN8LEBflPX+NfUJfjTzLM679DSp3igy7A4TKabwFfIe
      GkxMpPiA8g2Tby4emilkbnisW7oeyrVrzspmCAs5rLfdLEmZj2Byf3jUZnu7gv2/
      MaBlpsWnR4hkmHnJ2h6Fj7T0YWDtsPZ4k72t146r9xDxwy9H
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----


