files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGFDCCBPygAwIBAgISA30R/5FFh4TCT8w9mbNqK73rMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA2MjQwNjQ5MjBaFw0x
      ODA5MjIwNjQ5MjBaMB8xHTAbBgNVBAMTFGFwaS50ZWxlY2xhd2FwaS5saXZlMIIB
      IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApo9Y7vk/ZwMSikgwjzF9sj2m
      XIq3eyydntwou67llp9yNtY+Sm6K+gZ/a0fNmbj1br5wZVj+9Q0m1Foh0Cc6nhIK
      V2XIdw3LmlUpOKceZOy5fA0vkcNirZtzq97/VihCFDstsJ0wvjyL9AUhDzIiFHij
      dzAeh2f4Ai0soqRt43sJeFv8yuALoKWulJjtGTmIIUvnTqsY3SSPc1MG3LODY/Fp
      rLaoWzRRZq/KBD9W3Wshr+5OUTwyA/HxFp6vaCjqdW3+uJbT4wocXLm9QUcKjala
      TYx6GQPpRffzsVZYC6iYGo6ok05ezYAWDgUFV2l0p8AM4NmiCf5IfuQeF9uw/wID
      AQABo4IDHTCCAxkwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
      BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBSpAFqcSkUpV9Usb0DO
      eNtJyBa0JTAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEF
      BQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5j
      cnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5j
      cnlwdC5vcmcvMB8GA1UdEQQYMBaCFGFwaS50ZWxlY2xhd2FwaS5saXZlMIH+BgNV
      HSAEgfYwgfMwCAYGZ4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcC
      ARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGb
      VGhpcyBDZXJ0aWZpY2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5
      aW5nIFBhcnRpZXMgYW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0
      aWZpY2F0ZSBQb2xpY3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcv
      cmVwb3NpdG9yeS8wggEFBgorBgEEAdZ5AgQCBIH2BIHzAPEAdwDbdK/uyynssf7K
      PnFtLOW5qrs294Rxg8ddnU83th+/ZAAAAWQwxMsxAAAEAwBIMEYCIQCKZt32blPX
      ZIl6ST3dtmdXVyHslUjO65UCgwqTcfb3OgIhAKjvfUzuV3w5maXXqS6SGNTmfQZ8
      Iz0LRTqudvDmIMZhAHYAKTxRllTIOWW6qlD8WAfUt2+/WHopctykwwz05UVH9HgA
      AAFkMMTLRgAABAMARzBFAiBZPPvTyQUcEfGdMOuhn+iShzPRD10q2ZcZpcxcJ814
      DwIhAKxbrMFBPGSmUuyv1TqAUGcm7y6SV8YBfNSFv3EI9ko9MA0GCSqGSIb3DQEB
      CwUAA4IBAQB9bIBTK0cSykgYXToymq8SPgogM3cqDRmkeyvGUtAWtBkWeresYs9I
      PksRxDdR5wcb8mfoBblh11zUTs+zgkZu/sl83GklVhUC/APkL56NXbtLybHXpbgO
      Ztr3FqZe4JAKnOQVPxuOQHohFfHe3YTYcqa8KXo5jxKiwAyyXQvNC6bvmP0xv0TD
      BovCYBL383Xvb5hdCbsfEQ5ayW5t6PVZIIZ6I18IyMX9Ohq/3HaF9A/86CHOUbwG
      35zSo+sMoXnqOgY9tlMoKAsLpKKTPU2D3bZUAqX+c8BI2BvHWls9v9XAHGbFQg8z
      yzTfeh7XGY52x5w+ELVMX8PnccBZoXbB
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----

